<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find huron_description)/worlds/multiview.world"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="paused" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find huron_description)/urdf/huron.xacro'" />

  <!-- Node start delay -->
  <arg name="node_start_delay" default="0" />

  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  
  <!-- <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -param robot_description -model huron -x 0.0 -y 0.0 -z 1.1227
    -J l_hip_yaw_joint 0.0 
    -J l_hip_roll_joint 0.0152 
    -J l_hip_pitch_joint -0.2884 
    -J l_knee_pitch_joint 0.7541 
    -J l_ankle_pitch_joint -0.4657 
    -J l_ankle_roll_joint -0.0152 
    -J r_hip_yaw_joint 0.0 
    -J r_hip_roll_joint -0.0152 
    -J r_hip_pitch_joint -0.2884 
    -J r_knee_pitch_joint 0.7541 
    -J r_ankle_pitch_joint -0.4657 
    -J r_ankle_roll_joint 0.0152"
    respawn="false" output="screen" /> -->

  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -param robot_description -model huron -x 0.0 -y 0.0 -z 1.0627"
    respawn="false" output="screen" />

  <!-- <node
    name="huron_centroidal"
    pkg="huron_centroidal"
    type="huron_centroidal.py"
    output="screen" />  -->

  <!-- Control -->
  <rosparam file="$(find huron_control)/config/controller.yaml" command="load"/>

  <!-- Group controller -->
  <node name="group_controller_spawner" pkg="controller_manager"
    type="spawner" respawn="false" output="screen" ns="/huron"
    args="joint_state_controller joint_group_effort_controller"
    launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/huron/joint_states" />
  </node>

</launch>
